/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header {
  box-sizing: border-box;
  width: 100%;
  height: 70vh;
  max-height: 675px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center; }
  .header__title {
    text-align: center;
    font-size: calc(3rem + 1vw);
    text-transform: uppercase;
    font-weight: 900;
    color: #263238;
    letter-spacing: .2em;
    margin-bottom: 20px;
    line-height: 1.2em; }
  .header__subtitle {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    color: #0d27ac;
    text-transform: capitalize;
    font-weight: 200;
    letter-spacing: .15em; }

.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.section {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }
  .section__title {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    font-weight: 700;
    margin-bottom: 80px; }
  .section__text {
    box-sizing: border-box;
    width: 50vw;
    min-width: 300px;
    max-width: 500px;
    text-align: justify;
    font-size: calc(1rem + 1vw);
    line-height: 1.5em;
    padding: 0 15px; }
    @media screen and (min-width: 1000px) {
      .section__text {
        font-size: 26px; } }

.aboutme {
  margin-top: 200px; }

.project {
  background: url("http://via.placeholder.com/300");
  height: 350px;
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end; }
  .project__caption {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    transition: height .7s; }
    .project__caption_visible {
      height: 100%; }
  .project__title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700; }
  .project__description {
    padding: 0;
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
    line-height: 1.5em;
    transition: height 1s .2s, opacity 1s .2s, padding 1s .2s, font-size 1s .2s; }
    .project__description_visible {
      height: auto;
      visibility: visible;
      padding: 30px;
      font-size: 18px;
      opacity: 1; }
  .project__link {
    text-decoration: inherit;
    color: inherit;
    height: 305px;
    transition: height .7s; }
    .project__link_hidden {
      height: 0; }
  .project1 {
    background: url("https://i.imgur.com/BWIoibi.png");
    background-size: cover; }
  .project2 {
    background: url("https://i.imgur.com/sQiSIRl.png") center;
    background-size: cover; }
  .project3 {
    background: url("https://i.imgur.com/waUdlgc.png") center;
    background-size: cover; }
  .project4 {
    background: url("https://i.imgur.com/bRER9qw.png") center;
    background-size: cover; }
  .project5 {
    background: url("https://i.imgur.com/kzahW9d.png") center;
    background-size: cover; }
  .project6 {
    background: url("https://i.imgur.com/8RwCLsY.png") center;
    background-size: cover; }

.showcase {
  width: 90%;
  min-width: 300px;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  justify-items: stretch; }
  @media screen and (max-width: 699px) {
    .showcase {
      width: 70%; } }

.footer {
  margin: 200px auto;
  padding-top: 20px;
  width: 80%;
  min-width: 270px;
  max-width: 900px;
  border-top: 2px solid #0d27ac;
  font-size: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 3em; }
  .footer__link {
    margin: 0 40px;
    text-align: center;
    color: #263238;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700; }
    .footer__link:visited, .footer__link:hover, .footer__link:active {
      text-decoration: none;
      color: #263238; }

html {
  font-family: 'Khula', sans-serif;
  font-size: 16px; }

.divider {
  width: 80%;
  min-width: 270px;
  max-width: 900px;
  border-top: 2px solid #0d27ac; }

/*# sourceMappingURL=style.css.map */
